<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <a href = <%=root_path%> >
        <%=image_tag("home/logo.png")%>
      </a>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href=<%= admin_dashboard_path %> >Product</a>
      </li>
      <li>
         <a href=<%= admin_categories_path %> >Brands</a>
      </li>
      <li>
        <a href="#">Users</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fa fa-align-justify"></i>
        <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href= <%= root_path %> ><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete  do %>
            <i class="fa-sign-out"></i> Logout </a>
          </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </nav>
  <h2>Product</h2>
  <%= link_to new_admin_product_path, class: 'btn btn-outline-success' do %>
    <i class="fa fa-plus"></i>
    Add
  <%end%>
  <div id="product-list">
    <%= render 'products/list', products: @get_Product %>
  </div>
</div>
<!-- Modal delete product-->
<div class="modal fade" id="myModalXoa" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="badge badge-danger Delete"> <h4>Delete Product</h4></span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5 class="modal-title Delete-text"></h5>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to 'Delete', @product, method: :delete, class: "btn btn-danger btn-delete",id: "btn-delete" %>
        <button class="btn btn-info"
        data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div><!--Finsh delete product-->
</div>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$('#sidebarCollapse').on('click', function () {
$('#sidebar, #content').toggleClass('active');
$('.collapse.in').toggleClass('in');
$('a[aria-expanded=true]').attr('aria-expanded', 'false');
});
});
function selectedRowDelete(row_id) {
document.getElementById('row_id').value = row_id;
}
//
</script>
<script >
$('#myModalXoa').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget) // Button that triggered the modal
var msp = button.data('masp')
var mass = button.data('mass')
var modal = $(this)
//alert(msp)
modal.find('.modal-title').text('Do you want delete "' + msp + '" ?')
 $("#btn-delete").attr("href","/admin/products/"+mass)
});

</script>
