<div class="wrapper" id="views-admin-dashboard-index">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <a href = <%=root_path%> >
        <%=image_tag("home/logo.png")%>
      </a>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href=<%= admin_dashboard_path %> >Product</a>
      </li>
      <li>
         <a href=<%= admin_categories_path %> >Brands</a>
      </li>
      <li>
        <a href="#">Users</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fa fa-align-justify"></i>
        <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href= <%= root_path %> > <i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>
            <i class="fa-sign-out"></i> Logout </a>
          <% end -%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h2>Product</h2>
  <%= link_to new_admin_product_path, class: 'btn btn-outline-success' do %>
    <i class="fa fa-plus"></i>
    Add
  <%end%>
  <div id="product-list">
    <%= render 'products/list', products: @get_Product %>
  </div>
</div>
<!-- Modal delete product-->
<div class="modal fade" id="myModalXoa" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="badge badge-danger Delete"> <h4>Delete Product</h4></span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5 class="modal-title Delete-text"></h5>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to 'Delete', @product, method: :delete, class: "btn btn-danger btn-delete",id: "btn-delete" %>
        <button class="btn btn-info"
        data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div><!--Finsh delete product-->
</div>
<script >
$('#myModalXoa').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var msp = button.data('masp')
  var mass = button.data('mass')
  var modal = $(this)
//alert(msp)
modal.find('.modal-title').text('Do you want delete "' + msp + '" ?')
 $("#btn-delete").attr("href","/admin/products/"+mass)
});
</script>
