<div class="wrapper" id="views-admin-categories-show">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <a href = <%=root_path%> >
        <%=image_tag("home/logo.png")%>
      </a>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href=<%= admin_dashboard_path %> >Product</a>
      </li>
      <li class="active">
        <a href=<%= admin_categories_path %> >Brands</a>
      </li>
      <li>
        <a href="#">Users</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fa fa-align-justify"></i>
          <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href= <%= root_path %> ><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete  do %>
                <i class="fa-sign-out"></i> Logout </a>
                </li>
              <% end -%>
              </ul>
        </div>
      </div>
    </nav>
    <!-- Model edit category-->
    <%= form_for @category, url: admin_category_path(id: @category.id), method: :put, html: { :multipart => true} do |f| %>
      <div id="myModalSua">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
          <span class="badge badge-warning headerEdit">
            <h4>Edit Category</h4>
          </span>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <%= f.text_field :id, class: "form-control", id: "masanpham", placeholder: "ID", readonly:true %>
              </div>
              <div class="form-group">
                <%= f.text_field :name, class: "form-control", placeholder: "Product name", id: "tensanpham" %>
              </div>
              <div class="form-group">
                <%= f.text_field :description, class: "form-control", id: "mota", placeholder: "Description" %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.button :submit, class: "btn btn-info" do %>
                Edit
              <% end -%>
              <%= link_to 'Cancel', admin_categories_path, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    <% end -%><!--Finish edit category-->
  </div>
</div>
</div>