<%producs_user.each do |p| %>
<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= link_to(product_productdetail_path(product_id: p.id)) do %>
        <%= image_tag(p.image_url.to_s, width: '250px', height: '250px') %>
        <% end -%>
        <h2>$<%= p.price %></h2>
        <p><%=p.name %></p>
        <%= form_for @order_item do |f| %>
        <%= f.hidden_field :quantity, value: 1 %>
        <%= f.hidden_field :product_id, value: p.id %>
        <%= f.button :submit, class: "add-to-cart btn btn-default" do %>
        <i class="fa fa-shopping-cart"></i>
        Add to cart
        <% end -%>
        <% end -%>
      </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
      </ul>
    </div>
  </div>
</div>
<% end -%>
