<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <a href = <%=root_path%> >
        <%=image_tag("home/logo.png")%>
      </a>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href=<%= admin_dashboard_path %> >Product</a>
      </li>
      <li>
         <a href=<%= admin_categories_path %> >Brands</a>
      </li>
      <li>
        <a href="#">Users</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fa fa-align-justify"></i>
        <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href= <%= root_path %> ><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete  do %>
            <i class="fa-sign-out"></i> Logout </a>
          </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </nav>
  <h2>Product</h2>
  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalThem" ><i class="fa fa-plus"></i> Add</button>
  <div id="">
    <!-- Model edit product-->
<%= form_for @product, method: :put, remote: true, html: { :multipart => true} do |f| %>
  <div class="" id="myModalSua">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <span class="badge badge-warning headerEdit">
            <h4>Edit Product</h4>
          </span>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.text_field :id, class: "form-control", id: "masanpham", placeholder: "ID", readonly:true %>
          </div>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder: "Product name", id: "tensanpham" %>
          </div>

          <div class="form-group">
            <%= f.number_field :price, class: "form-control", id: "dongia", placeholder: "Price" %>
          </div>
          <div class="form-group">
            <%= f.file_field :image, class: "form-control", id: "anh" %>
          </div>
          <div class="form-group">
            <%= f.text_field :description, class: "form-control", id: "mota", placeholder: "Description" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-info" do %>
            Edit
          <% end -%>
          <button type="button" class="btn btn-danger"
          data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<% end -%><!--Finish edit product-->

  </div>
</div>
</div>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$('#sidebarCollapse').on('click', function () {
$('#sidebar, #content').toggleClass('active');
$('.collapse.in').toggleClass('in');
$('a[aria-expanded=true]').attr('aria-expanded', 'false');
});
});
function selectedRowDelete(row_id) {
document.getElementById('row_id').value = row_id;
}
//
</script>
<script >
$('#smyModalThem').on('show.bs.modal', function (event)
{});
$('#myModalSua').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget) // Button that triggered the modal
var msp = button.data('id_pro')
var tsp = button.data('name_pro')
// var mtg = button.data('tentg')
var lsp = button.data('category_pro')
var mt = button.data('des_pro')
var dg =button.data('price_pro')
var modal = $(this)
modal.find('.modal-body input#masanpham').val(msp)
modal.find('.modal-body input#tensanpham').val(tsp)
// modal.find('.modal-body option#maloaisanpham').selected=lspx
modal.find('.modal-body input#mota').val(mt)
// modal.find('.modal-body input#anh').val(a)
// modal.find('.modal-body input#txtAnh').val(a1)
modal.find('.modal-body input#dongia').val(dg)
$("#new_product").attr("action", "/products/"+msp);
});
$('#myModalXoa').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget) // Button that triggered the modal
var msp = button.data('masp')
var mass = button.data('mass')
var modal = $(this)
//alert(msp)
modal.find('.modal-title').text('Do you want delete "' + msp + '" ?')
$("#btn-delete").attr("href","/products/"+mass)
});
$("#sua").click(function() { // bCheck is a input type button
var fileName = $("#anh").val();
if(fileName) { // returns true if the string is not empty
document.getElementById("txtClickAnh").value = 'True'
} else { // no file was selected
document.getElementById("txtClickAnh").value = 'False'
}
});
</script>
