<!DOCTYPE html>
<html>
  <head>
    <title>Loginfacebook</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'%>
  <%= stylesheet_link_tag 'style2' %>

  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
